 {% extends "base2.html.twig" %}

{% block name %}
          <h2> Bienvenue sur la page test2</h2>
       {% endblock %}
{% block body %}
          je suis dans test2
          <a href="{{ path('app_somme',{'a':12,'b':10})}}">aller  a somme </a>
      https://github.com/khediril/projetwebgldra1.git
      <img src="{{ asset("images/iset.jpeg")}}">
{% endblock %}